.headName {
    text-align: center;
}

#aboutP{
    display: flex;
    flex-direction: column;
    gap :1.5 rem;
    padding: 2rem;

}
#aboutHeaders{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5 rem;
    text-align: center;
}